<div class="ReleaseTemplate">
	<div>
		<sqd-designer theme="light" [undoStackSize]="10" [definition]="definition"
			[toolboxConfiguration]="toolboxConfiguration" [stepsConfiguration]="stepsConfiguration"
			[validatorConfiguration]="validatorConfiguration" [controlBar]="true" [areEditorsHidden]="false"
			[globalEditor]="globalEditor" [stepEditor]="stepEditor" (onReady)="onDesignerReady($event)"
			(onDefinitionChanged)="onDefinitionChanged($event)">
		</sqd-designer>

		<ng-template #globalEditor let-editor>
			<h6>Template Properties</h6>
			<br/>
			<h6>Template Name</h6>
			<mat-form-field class="full-width">
				<input matInput type="string" [value]="editor.definition.properties.templateName"
				(input)="updateProperty(editor.definition.properties, 'templateName', $event, editor.context)" />
			</mat-form-field>
		</ng-template>

		<ng-template #stepEditor let-editor>
			<h5>Step Properties</h5>
			
			<mat-tab-group>
				<mat-tab label="Step Properties">
					<div *ngFor="let property of editor.step.properties | keyvalue">
						<h6> {{ property.key }}</h6>
						<mat-form-field class="full-width">
							<input matInput type="string" [value]="property['value']"
							(input)="updateProperty(editor.step.properties, ''+property.key, $event, editor.context)" />
						</mat-form-field>
					</div>
				</mat-tab>
			</mat-tab-group>
		</ng-template>
	</div>
	<div class="save-release-template"><button mat-raised-button color="primary" (click)="saveTemplateDefinition()">Save Release Template</button></div>
	<!-- <div class="" style="display:grid">
	<div class="w-25">
		<button mat-raised-button color="primary" (click)="reloadDefinitionClicked()">Reload definition</button>
		<span>&nbsp; Is valid: <strong>{{ isValid }}</strong>
		</span>
	</div>
</div>

<div class="h-15" style="display:grid">
	<mat-form-field class="container-fluid" style="display:grid">
		<textarea matInput cols="120" rows="16" readonly>{{ definitionJSON }}</textarea>
	</mat-form-field>
</div> -->
</div>