.test-header{
	height: 200px;
}

.ReleaseTemplate {
	min-height: 800px !important;
	h1 {
		font-size: 22px;
	}
}
.sqd-workspace-canvas {
	background: red;
	min-height: 800px !important;
	height: 800px !important;
}